<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apptivators.ntcore" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainPage"
            android:label="NepTrip"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".FeaturedActivity"
            android:label="FeaturedActivityView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PackageDetailActivity"
            android:label="Package Detail Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CityListActivity"
            android:label="Applicable Cities List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventDetailActivity"
            android:label="EventDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PackageListingPage"
            android:label="Event Listing Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:label="Home Page"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersetupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_usersetup"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Dashboard" >
        </activity>
        <activity
            android:name=".dialogtest"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_dialogtest"
            android:theme="@style/Theme.AppCompat.Dialog" />
    </application>

</manifest>
